.binomial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: none;
    padding:  10px;
    border-radius: 10px;
    width: 500px;
    background-color: #012E40;

    h2{
        text-align: center;
        font-size: 48px;
        color: #038C65;
    }

    p{
        text-align: center;
        color: #F2C12E;
        font-size: 24px;

        span{
            color: #D92525;
            font-size: 50px;
            width: 10px;
            height: 10px;
            border-radius: 50px;
        }
    }
}

.numbers{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.num{
    background-color: white;
    width: 50px;
    color: black;
    border-radius: 10px;
    text-align: center;
}